# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://whncijpbobuvpdazkghs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndobmNpanBib2J1dnBkYXprZ2hzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3MTkyMjUsImV4cCI6MjEwMjI5NTIyNX0.8eupZjb2l79aLfyCGvYvQ86hkHwtA009VYtdvkaOo7o
SUPABASE_SERVICE_ROLE_KEY=get-from-supabase-dashboard-settings-api

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_PIN=1234
